extends layout

block content
  h1= title
  
  table
      tr
          th Phone Number
          th Store Names
          th Email
        tr
          td 985-2433-3243
          td Savemart
          td savemart.com
        tr
          td 248-2950-3242
          td Save Alot
          td savealot.com

      
  
      
