extends layout

block content
  .jumbotron
  
    h1= title
    p Welcome to #{title}
  .row
    .slideWrapper.col-md-6.col-xs-12
      h2 To be included at a later time
    .aboutproduct.col-md-6.col-xs-12
      h2 Description
  .row
    .col-xs-4
      .store
        p  nothing
    .col-xs-4
      .store
        p nothing
    .col-xs-4
      .store
        p nothing
  .row
    .col-xs-4
      .store
        p nothing
    .col-xs-4
      .store
        p nothing
    .col-xs-4
      .store
        p nothing
