doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  script
    $(document).ready(function(){$("#options").click(function(){$("#panel").animate({width:'toggle'},1000);$(".wrapper").toggleClass("wrappertoggle");});});
 
  body
     #nav.navbar.navbar-default.navbar-fixed-top
       .container
         .navbar-header
           button.navbar-toggle.collapsed(style="float:right;" type='button',id="options", data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
             span.sr-only Toggle navigation
             span.icon-bar
             span.icon-bar
             span.icon-bar
           a.navbar-brand(href='/') Healthy Gathering
         .navbar-toggle(style="margin:auto; border-color:transparent; float:left;")
             form
               input.bigsearchbar(type="text" name="search")
               input(type="submit" value="Go")
         #navbar.navbar-collapse.collapse
           ul.nav.navbar-nav
             li(class=(title == 'list') ? 'active' : null)
               a(href='/list') My List
           ul.nav.navbar-nav.navbar-right(style="float:left;")
             if user
               li.dropdown
                 a.navbar-avatar.dropdown-toggle(href='#', data-toggle='dropdown')
                   span #{user.name || user.email} &nbsp;
                   i.caret
                 ul.dropdown-menu
                   li
                     a(href='/profile') Profile
                   li.divider(role='separator')
                   li
                     a(href='/logout') Logout
             else
               li(class=(title == 'Log in') ? 'active' : null)
                 a(href='/login') Log-in
               li(class=(title == 'Register') ? 'active' : null)
                 a(href='/login') Register
           form
             input(type="text" name="productsearch")
             input(type="submit" value="Search")
    div(id="panel")
      ul(style="list-style-type:none")
        li
          a.homeLink(href="/" data-transition="slide") Home
        li
          a.pannelLink(href="/profile") Profile
        li
          a.pannelLink(href="/list") List
        li
          a.pannelLink(href="/preferences") Preferences
        li
          a.pannelLink(href="/contact") Contact
        li
          a.pannelLink(href="/about") About
    .wrapper
      block content
    footer.navbar-fixed-bottom
        a.pannelLink(style="font-size:16px;", href='/about') About | 
        a.pannelLink(style="font-size:16px;", href='/contact') Contact | 
        | &copy; 2016 
