extends layout

block content
  .row.listrow
    h2.text-center Rite Aid
    hr(style="width:100px; border: 1px; border-style:solid; margin-top:0px; ")
    .row.border
      .col-md-3.col-xs-12.descol
        img(src="https://s-media-cache-ak0.pinimg.com/originals/8d/74/5e/8d745e453e97342b4f6caaa0997fcf5d.jpg" style="display:block; margin:auto; width:200px;")
      .col-md-6.col-xs-12.descol
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .col-md-3.col-xs-12
        button.btn.btn-primary(style="display:block; margin:auto; margin-bottom:5px;") Remove Item
        button.btn.btn-primary(style="display:block; margin:auto;") Buy Now
    .row.border
      .col-md-3.col-xs-12.descol
        img(src="https://upload.wikimedia.org/wikipedia/en/6/60/M%26Ms-Wrapper-Small.jpg", style="display:block; margin:auto; width:200px;")
      .col-md-6.col-xs-12.descol
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .col-md-3.col-xs-12
        button.btn.btn-primary(style="display:block; margin:auto; margin-bottom:5px;") Remove Item
        button.btn.btn-primary(style="display:block; margin:auto;") Buy Now
  .row.listrow
    h2.text-center SaveMart
    hr(style="width:120px; border: 1px; border-style:solid; margin-top:0px; ")
    .row.border
      .col-md-3.col-xs-12.descol
        img.previewPicture(src="http://www.electricvapors.net/wp-content/uploads/2015/03/mango.jpg")
      .col-md-6.col-xs-12.descol
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .col-md-3.col-xs-12  
        button.btn.btn-primary(style="display:block; margin:auto; margin-bottom:5px;") Remove Item
        button.btn.btn-primary(style="display:block; margin:auto;") Buy Now 
    .row.border
      .col-md-3.col-xs-12.descol
        img.previewPicture(src="http://www.theartofdoingstuff.com/wp-content/uploads/2013/03/Banana.jpg")
      .col-md-6.col-xs-12.descol
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .col-md-3.col-xs-12
        button.btn.btn-primary(style="display:block; margin:auto; margin-bottom:5px;") Remove Item
        button.btn.btn-primary(style="display:block; margin:auto;") Buy Now 
  .row.listrow
    h2.text-center SaveAlot
    hr(style="width:120px; border: 1px; border-style:solid; margin-top:0px; ")
    .row.border
      .col-md-3.col-xs-12.descol
        img.previewPicture(src="http://media.timesreview.com.s3.amazonaws.com/riverheadnewsreview/files/Ramen.jpg")
      .col-md-6.col-xs-12.descol
        h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      .col-md-3.col-xs-12
        button.btn.btn-primary(style="display:block; margin:auto; margin-bottom:5px;") Remove Item
        button.btn.btn-primary(style="display:block; margin:auto;") Buy Now 
